.form-container {
  margin-top: 160px;
}

.fields-container {
  background-color: transparent;
  width: 320px;
  /*margin-top: 32px;*/
  /*border: solid 5px #1DB954;*/
  border-radius: 4px;
  height: 248px;
}
.mat-form-field {
  width: 300px;
  background-color: transparent;
  color: white;
}

.continue-label {
  color: #B3B3A2;
  font-size: 0.8rem;
}
.fb-button {
  width: 300px;
  height: 40px;
  border-radius: 20px;
}

::ng-deep.mat-error .mat-warn {
  color: white;
}

::ng-deep.mat-form-field-label {
  color: #1DB954 !important;
}

::ng-deep .mat-focused {
  /*change color of label*/
  color: orange !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: orange !important;;
}

.spinner-stroke-color ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1DB954;
}

.mat-divider {
  background: #5A5A5A;
  width: 300px;
}
