.bottom-bar {
  display: flex;
  background-color: #282828;
}

.left {
  width: 20%;
}

.middle {
  width: 60%;
  background-color: green;
}

.right {
  width: 20%;
}

.mat-toolbar {
  height: 96px;
  width: 100%;
  background-color: #282828;
}

.mat-icon-button {
  color: #B3B3B3;
}

.player-control {
  height: 64px;
}

.slider-control {
  margin-top: -16px;
}

.time-slider {
  width: 100% !important;
  margin-left:12px;
  margin-right:12px;
}

.slider-bar {
  width: 100%;
}

.playpause {
  font-size: 2.5rem;
  color: #1DB954
}

.artwork {
  width: 22%;
}

.artwork-img {
  max-height: 68px;
  max-width: 68px;
  margin-top: 24px;
  margin-left: -4px;
  background-size: cover;
}

.track-info {
  display: flex;
  /*background-color: blue;*/
  margin-left: 16px;
  margin-top: 8px;
}

.mat-title {
  line-height: 16px;
}

@media screen and (max-width: 1400px) {
  .left {
    /*display: none;*/
    width: 20%;
  }

  .right {
    /*display: none;*/
    width: 0%;
  }
}

@media screen and (max-width: 1024px) {
  .left {
    /*display: none;*/
    width: 30%;
  }

  .right {
    /*display: none;*/
    width: 0%;
  }
}

@media screen and (max-width: 799px) {
  .left {
    width: 45%;
  }

  .right {
    width: 0%;
  }

  .track-info {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .left {
    /*display: none;*/
    width: 35%;
  }

  .right {
    /*display: none;*/
    width: 0%;
  }
}

@media screen and (max-width: 372px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }
}
