.bottom-bar {
  display: flex;
  background-color: #282828;
  justify-content: center;
}

.mat-list-item {

}

.left {
  width: 20%;
}

.middle {
  width: 60%;
  /*background-color: green;*/
}

.right {
  width: 20%;
}

.mat-toolbar {
  height: 96px;
  width: 100%;
  background-color: #282828;
}

.mat-icon-button {
  color: #B3B3B3;
}

.player-control {
  height: 64px;
}

.slider-control {
  margin-top: -16px;
}

.time-slider {
  width: 100% !important;
  margin-left:12px;
  margin-right:12px;
}

/*.slider-bar {*/
/*  width: 100%;*/
/*}*/

.playpause {
  font-size: 32px;
  color: #1DB954
}

.artwork {
  /*width: 22%;*/
  width: 68px;
}

.artwork-img {
  max-height: 68px;
  max-width: 68px;
  margin-top: 24px;
  margin-left: -4px;
  background-size: cover;
}

.track-info {
  display: flex;
  /*background-color: blue;*/
  margin-left: 16px;
  margin-top: 8px;
}

.mat-title {
  line-height: 16px;
}

@media screen and (max-width: 770px) {
  .left {
    display: none;
    width: 0%;
  }

  .right {
    display: none;
    width: 0%;
  }

  .volumn-control {
    display: none;
  }
}
