<div fxLayout="column">
  <div fxFlex fxLayoutAlign="center">
    <img [routerLink]="['']" class="logo" src="../assets/logo.png">
  </div>
  <div>
    <mat-list>
      <mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        Home
      </mat-list-item>
      <mat-list-item [routerLink]="['/search']" [routerLinkActive]="['is-active']" class="nav-item">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        Search</mat-list-item>
      <!--          <mat-list-item [routerLink]="['/library']" [routerLinkActive]="['is-active']" class="nav-item">-->
      <div>
        <mat-list-item class="nav-item" (click)="onSelectLibrary()">
          <button mat-icon-button>
            <mat-icon>library_music</mat-icon>
          </button>
          Library
        </mat-list-item>
      </div>
    </mat-list>
  </div>
  <div *ngIf="isAuth">
    <mat-list>
      <h5 style="color: #B3B3A2">PLAYLISTS</h5>
      <mat-list-item class="nav-item">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
        Create playlist</mat-list-item>
      <mat-list-item class="nav-item">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        Like songs</mat-list-item>
    </mat-list>
  </div>
  <mat-divider style="background-color: #282828; width: 80%; margin-left: 16px"></mat-divider>
  <div class="copyright">
    <ul class="copyright-list">
      <li class="copyright-item">
        <button mat-icon-button>
          <mat-icon>copyright</mat-icon>2020 RelaxingWorld.Online
        </button>
      </li>
      <li class="copyright-item"><a href="https://apps.apple.com/vn/app/kho-ebooks-audiobooks/id1366613779" target="_blank"><img class="appstore" src="../assets/appstore.png"></a></li>
    </ul>
  </div>
</div>
