mat-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mat-list-item {
  outline: none;
  color: #B3B3A2;
}

mat-list-item:hover, mat-list-item:active {
  color: white;
  cursor: pointer;
}

.is-active {
  color: white;
  background-color: #282828;
  border-radius: 4px;
}

mat-icon:hover, mat-icon:active {
  color: white;
}

.donate {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.donate-btn {
  height: 40px;
  width: 164px;
  border-radius: 20px;
  color: #1DB954;
  border: 1px solid #1DB954;
}

.copyright {
  /*margin-top: -16px;*/
  margin-left: -24px;
  position: absolute;
  bottom: 0;
}

.copyright-list {
  list-style: none;
  color: #B3B3A2;
}

.copyright-item {
  height: 64px;
  margin-top: -8px;
}

li>img {
  margin-left: 24px;
}

a {
  text-decoration: none;
  color: #B3B3A2;
}

a:hover, a:active {
  color: white;
}

.logo {
  width: 65%;
  /*height: 72px;*/
  margin-top: 16px;
  margin-bottom: 16px;
  outline: none;
}

.appstore {
  height: 48px;
  margin-top: -16px;
  margin-left: 25px;
}

.nav-item {
  height: 40px !important;
}

.playlist-item {
  height: 28px !important;
  font-size: 0.9rem;
}

::ng-deep.mat-menu-panel {
  background-color: #282828;
  width: 162px;
}

.mat-menu-item {
  color: #B3B3A2;
}

.mat-menu-item:hover {
  background-color: #333333;
  color: white;
}
