mat-toolbar {
  background-color: #282828;
  height: 280px;
  overflow: hidden;
}

.mat-caption {
  color: white;
  font-size: 1rem;
}

.mat-card-image {
  border-radius: 4px;
  width: 224px;
  height: 224px;
}

.mat-title {
  color: white;
  font-size: 5rem;
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.2;
}

.mat-card-subtitle {
  color: #B3B3A2;
}

.container {
  display: flex;
  margin: 16px;
}

.item1 {
  height: 232px;
  width: 232px;
}

.item2 {
  /*width: 800px;*/
  margin: 16px;
}

.actionbar {
  display: flex;
  margin: 36px 0 0 16px;
}

.mat-icon {
  color: #B3B3A2;
  font-size: 36px;
}

.play {
  color: #1DB954;
  font-size: 72px;
}

.playlistTbl {
  margin: 24px;
}

table {
  width: 100%;
  background-color: transparent;
  margin-top: 32px;
  /*margin: 24px;*/
}

.mat-header-cell {
  font-size: 0.9rem;
  color: #B3B3A2;
}

.mat-cell {
  font-size: 0.9rem;
  color: #B3B3A2;
}

.mat-column-position {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 55% !important;
  width: 55% !important;
  min-width: 100% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-played {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-duration {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-option {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
  /*word-break: break-word;*/
  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-row {
  height: 60px;
}

.highlight{
  background: #5A5A5A; /* green */
}

.track-row {
  cursor: pointer;
}

.track-row:hover {
  background-color: #282828;
}

/*play loaded*/
.loader09 {
  width: 4px;
  height: 16px;
  background: #1DB954;
  position: relative;
  animation: loader09-u3e967ec0 1s ease-in-out infinite;
  animation-delay: 0.4s;
  top: 50%;
  /*margin: -28px auto 0; */
  margin: -16px auto auto auto;
}
.loader09::after, .loader09::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  background: #1DB954;
  animation: loader09-u3e967ec0 1s ease-in-out infinite; }
.loader09::before {
  right: 6px;
  animation-delay: 0.2s; }
.loader09::after {
  left: 6px;
  animation-delay: 0.6s; }

@keyframes loader09-u3e967ec0 {
  0%, 100% {
    box-shadow: 0 0 0 #1DB954, 0 0 0 #1DB954; }
  50% {
    box-shadow: 0 -8px 0 #1DB954, 0 8px 0 #1DB954; }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 2520px) {
  .mat-title {
    font-size: 88px;
  }
}
@media screen and (max-width: 2315px) {
  .mat-title {
    font-size: 80px;
  }
}
@media screen and (max-width: 2115px) {
  .mat-title {
    font-size: 72px;
  }
}
@media screen and (max-width: 1910px) {
  .mat-title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1600px) {
  .mat-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 1400px) {
  .mat-title {
    font-size: 48px;
  }
}

/*hide column*/
@media screen and (max-width: 1024px) {
  .mat-column-played {
    display: none;
  }

  .mat-column-duration {
    display: none;
  }
}
