<mat-toolbar>
  <div class="container">
    <div class="item1">
      <img mat-card-image src="{{ getImagePath() }}" alt="">
    </div>
    <div class="item2">
      <div class="mat-caption">PLAYLIST</div>
      <div class="mat-title">{{ getTitle() }}</div>
      <div class="mat-card-subtitle">{{ getSubTitle() }}</div>
      <div class="mat-card-subtitle">RelaxingWorld * 71,766 likes, {{ tracks?.length }} songs, 3 hr 19 min</div>
    </div>
  </div>
</mat-toolbar>
<div class="actionbar">
  <div fxLayout="row" fxLayoutGap="64px">
    <button mat-icon-button *ngIf="!state?.playing" (click)="handlePlay()">
      <mat-icon class="play">play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button *ngIf="state?.playing" (click)="pause()">
      <mat-icon class="play">pause_circle_filled</mat-icon>
    </button>
    <div fxLayoutGap="32px">
      <button mat-icon-button (click)="onHandleLikeAlbum(album)" *ngIf="!isLikedAlbum">
        <mat-icon style="transform: scale(1.5)">favorite_border</mat-icon>
      </button>
      <button mat-icon-button (click)="onHandleLikeAlbum(album)" *ngIf="isLikedAlbum">
        <mat-icon style="color: #1DB954; transform: scale(1.5)">favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="openPdf()" *ngIf="isFileExisted">
        <mat-icon style="transform: scale(1.25)">attach_file</mat-icon>
      </button>
    </div>
  </div>
</div>
<ng-template [ngIf]="isDataLoaded"; [ngIfElse]="loading">
  <div class="playlistTbl">
    <table mat-table [dataSource]="tracks" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
      <div class="header">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
<!--          <th mat-header-cell *matHeaderCellDef> TITLE </th>-->
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </th>
          <td mat-cell *matCellDef="let element" class="title"> {{ getTrackTitle(element) }}<span style="font-size: 0.9rem; color: #B3B3A2"><br>{{ getTrackSubTitle(element) }}</span></td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="played">
          <th mat-header-cell *matHeaderCellDef> PLAYED </th>
          <td mat-cell *matCellDef="let element"> {{ formatNumber(element.played) }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> DURATION </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{ element.duration }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef> OPTION </th>
          <!--        <td mat-cell *matCellDef="let element"> {{element.option}} </td>-->
          <td mat-cel *matCellDef="let element; let i = index">
            <div class="right-options" fxLayoutGap="24px">
              <div class="like" *ngIf="!favouriteList[i]">
                <mat-icon matTooltip="Like" class="option-buttons" (click)="onHandleLikeTrack(element, i)">favorite_border</mat-icon>
              </div>
              <div class="like" *ngIf="favouriteList[i]">
                <mat-icon matTooltip="Unlike" class="option-buttons" (click)="onHandleLikeTrack(element, i)" style="color: #1DB954">favorite</mat-icon>
              </div>
              <!--                menu work-->
              <!--                <mat-icon class="option-buttons" [matMenuTriggerFor]="menu" #menuTrigger style="transform: scale(1.5)">more_horiz</mat-icon>-->
              <!--                <mat-menu #menu="matMenu">-->
              <!--                  <button mat-menu-item (click)="addToPlaylist(element)">Add to playlist</button>-->
              <!--                  <mat-divider></mat-divider>-->
              <!--                  <button mat-menu-item (click)="addToFavourite(element)">Save to liked songs</button>-->
              <!--                </mat-menu>-->
              <!--                Sub-Menu optimize-->
              <mat-icon class="option-buttons" [matMenuTriggerFor]="menu" #menuTrigger style="transform: scale(1.5)">more_horiz</mat-icon>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <ng-container *ngFor="let child of navItems">
                  <!-- Handle branch node menu items -->
                  <ng-container *ngIf="child.subItems && child.subItems.length > 0">
                    <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">{{ child.title }}</button>
                    <app-menu-item #menu [items]="child.subItems" (subMenuEvent)="selectSubItem($event, element)"></app-menu-item>
                  </ng-container>
                  <!-- Handle leaf node menu items -->
                  <ng-container *ngIf="!child.subItems || child.subItems.length === 0">
                    <button mat-menu-item (click)="onSelectItem(child, i)">{{ child.title }}</button>
                  </ng-container>
                </ng-container>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.relaxingworld.online%2F&amp;src=sdkpreparse"><button mat-menu-item>Share to Facebook</button></a>
              </mat-menu>
            </div>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!--    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" (click)="openFile(row, i)" appHighlightDirective="#282828" defaultColor="transparent" [ngClass]="{'highlight': selectedRowIndex === row.id}"></tr>-->
      <tr mat-row class="track-row" *matRowDef="let row; let i = index; columns: displayedColumns;" (dblclick)="openFile(row, i)" [ngClass]="{'highlight': i == selectedRowIndex}"></tr>
    </table>
  </div>
</ng-template>
<ng-template #loading>
  <div class="spinner-stroke-color">
    <div class="center"><mat-spinner [diameter]="68"></mat-spinner></div>
  </div>
</ng-template>
