mat-toolbar {
  background-color: #282828;
  height: 280px;
  overflow: hidden;
}

.mat-caption {
  color: white;
  font-size: 1rem;
}

.mat-card-image {
  border-radius: 4px;
  width: 224px;
  height: 224px;
  margin-top: 12px;
}

.mat-title {
  color: white;
  font-size: 5rem;
  margin-top: 48px;
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.2;
}

.mat-card-subtitle {
  color: #B3B3A2;
}

.container {
  display: flex;
  margin: 16px;
}

.item1 {
  height: 232px;
  width: 232px;
}

.item2 {
  /*width: 800px;*/
  margin: 16px;
}

.actionbar {
  display: flex;
  margin: 36px 0 0 16px;
}

.mat-icon {
  color: #B3B3A2;
  /*font-size: 36px;*/
  transform: scale(1.5);
}

.play {
  color: #1DB954;
  transform: scale(2.75);
  margin-left: 32px;
}

.playlistTbl {
  margin: 24px;
}

table {
  width: 100%;
  background-color: transparent;
  margin-top: 32px;
  /*margin: 24px;*/
}

.mat-header-cell {
  font-size: 0.9rem;
  color: #B3B3A2;
}

.mat-cell {
  font-size: 0.9rem;
  color: #B3B3A2;
}

.mat-column-position {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 55% !important;
  width: 55% !important;
  min-width: 100% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-played {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-duration {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/

  /*word-break: break-word;*/

  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-column-option {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  min-width: 0% !important;
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
  /*word-break: break-word;*/
  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.mat-row {
  height: 60px;
}

.highlight{
  background: #282828; /* green */
}

.title-highlight {
  color: #1ED760 !important;
}

.text-highlight {
  color: white !important;
}

.like-Track {
  color: #1DB954;
}

.track-row {
  cursor: pointer;
}

.track-row:hover {
  background-color: #282828;
}

/*play loaded*/
.loader09 {
  width: 4px;
  height: 16px;
  background: #1DB954;
  position: relative;
  animation: loader09-u3e967ec0 1s ease-in-out infinite;
  animation-delay: 0.4s;
  top: 50%;
  /*margin: -28px auto 0; */
  margin: -16px auto auto auto;
}
.loader09::after, .loader09::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  background: #1DB954;
  animation: loader09-u3e967ec0 1s ease-in-out infinite; }
.loader09::before {
  right: 6px;
  animation-delay: 0.2s; }
.loader09::after {
  left: 6px;
  animation-delay: 0.6s; }

@keyframes loader09-u3e967ec0 {
  0%, 100% {
    box-shadow: 0 0 0 #1DB954, 0 0 0 #1DB954; }
  50% {
    box-shadow: 0 -8px 0 #1DB954, 0 8px 0 #1DB954; }
}

.loader10 {
  width: 4px;
  height: 16px;
  background: #1DB954;
  position: relative;
  animation: loader10-u3e967ec0 1s ease-in-out infinite;
  top: 50%;
}

.loader10::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 16px;
  background: #1DB954; }
.loader10::before {
  right: 6px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 1910px) {
  .mat-title {
    font-size: 64px;
  }
}
@media screen and (max-width: 1600px) {
  .mat-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 1400px) {
  .mat-title {
    font-size: 48px;
  }
}

/*hide column*/
@media screen and (max-width: 1024px) {
  .mat-column-played {
    display: none;
  }

  .mat-column-duration {
    display: none;
  }
}

.spinner-stroke-color ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1DB954;
}

.center {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.right-options {
  display: flex;
  flex-flow: row;
  /*margin-right: 8px;*/
}

.option-buttons {
  cursor: pointer;
  font-size: 1rem;
  color: #5A5A5A;
}

.option-buttons:hover {
  color: white;
}

.highlight-favourite{
  color: #1DB954;
}

::ng-deep.mat-menu-panel {
  background-color: #282828;
  width: 180px;
  overflow: hidden;
}

.mat-menu-item {
  color: #E0E0E0;
  margin: 0 8px 0 8px;
  width: 90%;
  border-radius: 4px;
}

.mat-menu-item:hover {
  /*color: #FFD740;*/
  background: #5A5A5A;
}

.mat-divider {
  background: #5A5A5A;
  width: 90%;
  margin-left: 8px;
}

.table-text {
  color: #ACB3AD;
}

.text-center {
  text-align: center;
}

.table-text-title {
  color: white;
  font-size: 16px;
}

thead {
  border-bottom: solid;
  border-color: #2F302F;
  border-bottom-width: 0.1rem;
}

.tbl-row {
  height: 55px;
}

.thfontsize {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.img-fluid {
  max-width: 90%;
  max-height: 232px;
}

.title {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.table tr.active td {
  background-color:#58595A !important;
  /*color: white;*/
  color: #1DB954;
  /*border-radius: 6px;*/
}

a:-webkit-any-link {
  text-decoration: none;
  color: #E0E0E0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 24px;
}
