<div class="backdrop" (click)="onClose()"></div>
<div class="alert-container" fxLayout="column">
  <div class="close" fxLayoutAlign="end">
    <button mat-icon-button (click)="onClose()">
      <mat-icon style="color: white; font-size: 32px">highlight_off</mat-icon>
    </button>
  </div>
  <div class="content" fxLayout="column" fxLayoutGap="16px">
    <p style="color: white; font-size: 20px; font-weight: bold; text-align: center">Start listening music with free account</p>
    <button mat-raised-button color="accent" (click)="onSignUp()">Sign Up Free</button>
    <button mat-raised-button (click)="onDownload()">Download App</button>
    <div class="login-hint" fxLayoutAlign="center center">
      <mat-hint style="color: #B3B3A2; font-size: 12px">Already have account? <span><button mat-button (click)="onLogin()" color="accent">LOGIN</button></span></mat-hint>
    </div>
  </div>
</div>
