<section id="music">
  <ng-template [ngIf]="isDataLoaded"; [ngIfElse]="loading">
    <div class="trending">
      <h1>Trending</h1>
      <div>
        <ul class="flex-container">
          <li class="flex-item" appHighlightDirective="#282828" defaultColor="#181818" style="cursor: pointer" *ngFor="let item of items" (click)="onSelectItem(item)">
            <div class="card">
              <img class="card-img-top" [src]="[item.imagePath]">
              <div class="card-body">
                <p class="card-title">{{ getTitle(item) }}</p>
                <p class="card-subtitle">{{ getSubTitle(item) }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #loading>
    <div class="spinner-stroke-color">
      <div class="center"><mat-spinner [diameter]="68"></mat-spinner></div>
    </div>
  </ng-template>
</section>
