.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0px 12px 0px 12px;
  list-style: none;
}

.flex-item {
  background: #181818;
  width: 180px;
  height: 264px;
  margin: 12px;
  /*line-height: 262px;*/
  border-radius: 4px;
}

h1 {
  color: white;
  padding-left: 24px;
}

.card-img-top {
  max-width: 152px;
  min-width: 152px;
  max-height: 152px;
  min-height: 152px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 4px;
}

.card-body {
  line-height: 16px;
}

.card-title {
  color: white;
  text-align: left;
  padding: 0 12px 0 12px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: -4px;
  line-height: 18px;
}

.card-subtitle {
  color: #B3B3A2;
  text-align: left;
  padding: 0 12px 0 12px;
  font-size: 0.8rem;
}

.spinner-stroke-color ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #1DB954;
}

.center {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
}

::ng-deep.mat-menu-panel {
  background-color: #282828;
  width: 180px;
  /*overflow: hidden;*/
}

.mat-menu-item {
  color: #E0E0E0;
  margin: 0 8px 0 8px;
  width: 90%;
  border-radius: 4px;
}

.mat-menu-item:hover {
  background: #5A5A5A;
}

.searchbar {
  /*display: flex;*/
  width: 320px;
  margin-top: 8px;
  margin-left: 24px;
  margin-right: 16px;
}

.search-label {
  color: #B3B3A2;
  padding-left: 16px;
  font-size: 1rem;
}

.search-input {
  color: black;
  background-color: white;
  width: 320px;
  height: 40px;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 36px;
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  border: none;
}

.close {
  margin-left: -40px;
  color: #2F302F;
}

.close:hover {
  color: #2F302F;
}
