<section id="music">
  <div class="trending">
<!--    <h1>{{ title }}</h1>-->
    <h1>{{ title }}
      <span style="float: right; margin-right: 48px">
          <mat-icon class="option-buttons" [matMenuTriggerFor]="menu" #menuTrigger style="transform: scale(1.5)">filter_list</mat-icon>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <ng-container *ngFor="let child of navItems; let i = index">
            <!-- Handle branch node menu items -->
            <!--            <ng-container *ngIf="child.subItems && child.subItems.length > 0">-->
            <!--              <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">{{ child.title }}</button>-->
            <!--              <app-menu-item #menu [items]="child.subItems" (subMenuEvent)="selectSubItem($event, track)"></app-menu-item>-->
            <!--            </ng-container>-->
            <!-- Handle leaf node menu items -->
            <ng-container *ngIf="!child.subItems || child.subItems.length === 0">
              <button mat-menu-item (click)="onSelecSort(i)">{{ child.title }}</button>
            </ng-container>
          </ng-container>
        </mat-menu>
      </span></h1>
    <div>
      <ul class="flex-container">
        <li class="flex-item" style="cursor: pointer" *ngFor="let item of items" (click)="onSelectItem(item)">
          <div class="card" @fadeSlideInOut>
            <img class="card-img-top" [src]="[item.imagePath]">
            <div class="card-body">
              <p class="card-title">{{ getTitle(item) }}</p>
              <p class="card-subtitle">{{ getSubTitle(item) }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
