<section>
  <div class="form-container" fxLayout="row" fxLayoutAlign="center">
    <div class="fields-container" fxLayoutAlign="center center">
      <form fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="8px"
            [formGroup]="signupForm" (ngSubmit)="onRegister()">
        <div>
          <mat-label class="continue-label">To continue, please register!</mat-label>
        </div>
        <div fxFlexFill fxLayoutGap="12px" fxLayout="column">
          <div><button mat-raised-button color="primary" class="fb-button" (click)="onFbRegister()"><mat-icon>facebook</mat-icon>   REGISTER WITH FACEBOOK</button></div>
          <div><button mat-raised-button color="warn" class="fb-button" (click)="onGmailRegister()"><mat-icon style="font-weight: bold; font-family: Arial">G</mat-icon>  REGISTER WITH GOOGLE</button></div>
        </div>
        <div>
          <mat-label STYLE="color: white; font-size: 0.75rem">OR</mat-label>
        </div>
        <mat-form-field>
          <mat-label>Your name</mat-label>
          <input matInput formControlName="name">
          <mat-error>name must be at least 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="email" placeholder="Your email"
                 matInput
                 formControlName="email">
<!--          <mat-hint>Please enter a valid email.</mat-hint>-->
          <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" placeholder="Password"
                 autocomplete="on"
                 matInput
                 formControlName="password">
<!--          <mat-hint>Please enter your password.</mat-hint>-->
          <mat-error>Missing password.</mat-error>
        </mat-form-field>
<!--        <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Login</button>-->
        <button type="submit" mat-raised-button color="primary" *ngIf="!isLoadingStateChanged">REGISTER</button>
        <div *ngIf="isLoadingStateChanged" class="spinner-stroke-color">
          <mat-spinner [diameter]="36"></mat-spinner>
        </div>
      </form>
    </div>
  </div>
</section>
