<div>
  <mat-sidenav-container>
    <!--  <mat-sidenav [mode]="mode.value" [opened]="opened" #sidenav role="navigation" fxHide.lt-sm>-->
    <mat-sidenav mode="side" [opened]=isOpened>
      <app-sidebar [playlists]="playlists"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
<!--      <button (click)="toggle()">Toggle</button>-->
      <app-toolbar></app-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="player-bar">
    <app-player-bar></app-player-bar>
  </div>
</div>
<ng-template [ngIf]="isAlertShow">
  <app-auth-alert></app-auth-alert>
</ng-template>
<ng-template [ngIf]="isEditPlaylistShow">
  <app-edit-playlist></app-edit-playlist>
</ng-template>
