<section id="music">
  <ng-template [ngIf]="isDataLoaded">
    <div class="trending">
      <h1>Genres</h1>
      <div>
        <ul class="flex-container">
          <li [ngStyle]="{background: 'url(' + genre.imagePath + ')', backgroundSize: 'cover', backgroundRepeat: 'no-repeat'}"
               class="flex-item" appHighlightDirective="#DF1C2F" defaultColor="#5E1122" *ngFor="let genre of genres" (click)="onSelectGenre(genre)">
            <div class="bghover" @fadeSlideInOut>
              <h3 class="title">{{ genre.title }}</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #loading [ngIf]="!isDataLoaded">
    <div class="spinner-stroke-color">
      <div class="center"><mat-spinner [diameter]="68"></mat-spinner></div>
    </div>
  </ng-template>
</section>
