<ng-template [ngIf]="tracks.length > 0">
  <section class="songs">
    <div class="trending">Songs</div>
    <mat-list [@filterAnimation]="tracks.length">
      <div *ngFor="let track of tracks; let i = index" class="song-list">
        <app-search-item [track]="track" (onOpenFile)="openFile(track, i)"></app-search-item>
      </div>
    </mat-list>
  </section>
</ng-template>
<ng-template [ngIf]="albums.length > 0">
  <section class="albums">
    <div>
      <div class="trending">Albums<span class="see-all" (click)="onClickViewAll(filteredAlbums)" *ngIf="filteredAlbums.length > 8">SEE ALL</span></div>
      <ul class="flex-container" [@filterAnimation]="albums.length">
        <li class="flex-item" appHighlightDirective="#282828" defaultColor="#181818" style="cursor: pointer" *ngFor="let album of albums | slice:0:counter" (click)="onSelectItem(album)">
          <div class="card" *ngIf="album">
            <img class="card-img-top" [src]="[album.imagePath]">
            <div class="card-body">
              <p class="card-title">{{ getTitle(album) }}</p>
              <p class="card-subtitle">{{ getSubTitle(album) }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</ng-template>
