<mat-toolbar>
  <!--      <button mat-icon-button (click)="sidenav.toggle()">-->
  <!--        <mat-icon>menu</mat-icon>-->
  <!--      </button>-->
  <button mat-icon-button style="margin-right: 16px; margin-left: -16px">
    <mat-icon class="backnext" (click)="back()">keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon class="backnext" (click)="next()">keyboard_arrow_right</mat-icon>
  </button>
  <div class="searchbar" *ngIf="!isSearchBarHidden">
    <input matInput placeholder="search for song, artist" class="search-input" #searchText (keypress)="onTextChange()" (keydown.backspace)="onBackspace()" (keyup)="processSearch()" (keyup.enter)="processSearch()">
    <button mat-icon-button class="close" (click)="clearText()" *ngIf="searchText.value !== ''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button class="close" *ngIf="searchText.value === ''" [disabled]="true">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="library-tabs" style="margin-left: 32px" *ngIf="isLibTabsShow">
    <nav #tabs mat-tab-nav-bar [backgroundColor]="background">
      <a mat-tab-link *ngFor="let link of links; let i = index"
         (click)="onClickLink(i)"
         [active]="activeLink == link" style="color: white"> {{link}}
      </a>
    </nav>
  </div>
  <div class="visualizer" fxLayout="row" fxLayoutAlign="center">
    <canvas id="output"></canvas>
  </div>
  <div fxFlex fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="12px" class="nav-items">
      <li class="SignInOut" [routerLink]="['/signup']" *ngIf="!isAuth">Sign Up</li>
      <li class="SignInOut" [routerLink]="['/login']" *ngIf="!isAuth">Login</li>
      <li class="SignInOut" (click)="logout()" *ngIf="isAuth">Logout</li>
    </ul>
  </div>
</mat-toolbar>
