.right-options {
  display: flex;
  flex-flow: row;
  margin-right: 8px;
}

.mat-list-item {
  margin: 0 16px 16px 16px;
  color: white;
  width: 98%;
}

.mat-list-item:hover {
  background-color: #282828;
}

.mat-title {
  color: white;
}

::ng-deep.mat-menu-panel {
  background-color: #282828;
  width: 180px;
  overflow: hidden;
}

.mat-menu-item {
  color: #E0E0E0;
  margin: 0 8px 0 8px;
  width: 90%;
  border-radius: 4px;
}

.mat-menu-item:hover {
  /*color: #FFD740;*/
  background: #5A5A5A;
}

.mat-icon {
  color: #B3B3A2;
  /*font-size: 36px;*/
  transform: scale(1);
}
