<div>
  <div class="form-container" fxFlex fxLayout fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="donate">
        <button mat-icon-button class="donate-btn"><mat-icon style="font-size: 1.2rem">emoji_food_beverage</mat-icon><span style="font-size: 1.2rem">Buy me a coffee</span></button>
      </div>
      <div class="donate-desc">
        Donation depends on your ability, donate & non-donate members are the same, the website data is free for everyone, and the website will never have ads
      </div>
      <div fxLayoutAlign="center">
        <a href="https://paypal.me/a01r066?locale.x=en_US" target="_blank">
          <button mat-raised-button color="primary" style="width: 180px; height: 44px; border-radius: 22px; font-size: 1.1rem; font-weight: 500">paypal.me</button>
        </a>
      </div>
      <div>
        <mat-label STYLE="color: white; font-size: 0.75rem">OR</mat-label>
      </div>
      <div class="step1">
        <h3 class="sentence"><span matBadge="1" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false" matBadgeColor="accent" style="margin-right: 8px; margin-left: 32px"></span>Choose an amount (USD)</h3>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button *ngFor="let i of amounts" value="{{ i }}" (click)="onSelectAmount(i)">{{ i | currency: 'USD' :true: '.0'}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="step2">
        <h3 class="sentence"><span matBadge="2" matBadgeSize="large" matBadgePosition="before" matBadgeOverlap="false" matBadgeColor="accent" style="margin-right: 8px; margin-left: 32px"></span>Choose a payment method</h3>
      </div>
      <div class="card-input-container">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
    </div>
  </div>
</div>
