<div class="donate-container">
<!--  <div class="form-container">-->
<!--    <a href="https://paypal.me/a01r066?locale.x=en_US" target="_blank"><button mat-raised-button color="primary">Donate with paypal</button></a>-->
<!--&lt;!&ndash;    <ngx-paypal [config]="payPalConfig"></ngx-paypal>&ndash;&gt;-->
<!--    <img src="../../assets/donate.png" alt="">-->
<!--    <div class="desc">-->
<!--      Donation depends on your ability, donate & non-donate members are the same, the website data is free for everyone, and the website will never have ads-->
<!--    </div>-->
<!--    -->
<!--  </div>-->
  <div class="form-container">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="donate">
        <button mat-icon-button class="donate-btn"><mat-icon style="font-size: 2.25rem">emoji_food_beverage</mat-icon><span style="margin-left: 12px"> Buy me a coffee</span></button>
      </div>
      <div class="donate-desc">
        Donation depends on your ability, donate & non-donate members are the same, the website data is free for everyone, and the website will never have ads
      </div>
      <div fxLayoutAlign="center">
        <a href="https://paypal.me/a01r066?locale.x=en_US" target="_blank">
          <button mat-raised-button color="primary" style="width: 180px; height: 44px; border-radius: 22px; font-size: 1.1rem; font-weight: 500">Donate with paypal</button>
        </a>
      </div>
    </div>
  </div>
</div>
