.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: normal;

  padding: 0;
  margin: 0px 12px 0px 12px;
  list-style: none;
}

.flex-item {
  background: #181818;
  width: 180px;
  height: 264px;
  margin: 12px;
  /*line-height: 262px;*/
  border-radius: 4px;
}

.flex-item:hover {
  background-color: #282828;
}

.trending {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 16px 24px 16px 24px;
}

.see-all {
  float: right;
  font-size: 0.9rem;
  color: #B3B3A2;
  /*margin: 16px;*/
  cursor: pointer;
  padding-top: 10px;
}

.card-img-top {
  max-width: 152px;
  min-width: 152px;
  max-height: 152px;
  min-height: 152px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border-radius: 4px;
}

.card-body {
  line-height: 16px;
}

.card-title {
  color: white;
  text-align: left;
  padding: 0 12px 0 12px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: -4px;
}

.card-subtitle {
  color: #B3B3A2;
  text-align: left;
  padding: 0 12px 0 12px;
  font-size: 0.8rem;
}
