<section id="music">
  <div class="trending">
    <h1>Trending</h1>
<!--    <mat-grid-list cols="8" rowHeight="0.75:1" gutterSize="24px">-->
<!--      <div *ngFor="let item of items">-->
<!--        <mat-grid-tile>-->
<!--          <mat-card class="card-item">-->
<!--            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">-->
<!--            <mat-card-title>Top Hits Vietnam</mat-card-title>-->
<!--            <mat-card-subtitle>Đông tới tây, đây là những ca khúc thịnh...</mat-card-subtitle>-->
<!--          </mat-card>-->
<!--        </mat-grid-tile>-->
<!--      </div>-->
<!--    </mat-grid-list>-->
    <div>
      <ul class="flex-container">
        <li class="flex-item" style="cursor: pointer" *ngFor="let item of items | slice:0:counter">
          <div class="card">
            <img class="card-img-top" [src]="['https://material.angular.io/assets/img/examples/shiba2.jpg']">
            <div class="card-body">
              <p class="card-title">Top Hits Vietnam</p>
              <p class="card-subtitle">Đông tới tây, đây là những ca khúc thịnh...</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
